{% extends 'base.html' %} {% block content %}
<section id="section-about" class="section-common ">
  <div class="container">
    <div class="row featurette">
      <div class="col-md-6 order-md-2 wow zoomIn " data-wow-delay="0.1s">
        <h2 class="featurette-heading text-center">О нас</h2>

        <div class="container">
          <h3 class="ponts">Миссия</h3>
          <hr>
         <p class="font"> Миссия салона - предоставить клиентам высокий сервис обслуживания и широкий спектр услуг по самым
          демократичным ценам.</p>
        </div>
        <div class="container offset-md-1">
          <h3 class="ponts text-center">Политика</h3>
          <hr>
          <p class="font"> Мы всегда готовы предложить своим любимым клиентам индивидуальный подход . </p>
        </div>

        <div class="container">
          <h3 class="ponts"> Этикет</h3>
          <hr>
          <p class="font"> Мы всегда рады приветствовать клиентов в нашей студии красоты. Мы с благодарностью относимся к выбору и
            мнению клиентов о работе студии, Гордимся доверием наших клиентов!</p>
        </div>
        <div class="container offset-md-1">
          <h3 class="ponts text-center">Философия</h3>
          <hr>
          <p class="font" > Видение и внутреннее правило нашей компании заключается в том что «Возможно - Все!»</p class="font" >
        </div>
        <p class="font text-center">Добро пожаловать...</p>

      </div>
      <div class="col-md-6 wow zoomIn" data-wow-delay="0.1s">
        <div class="img  ">
          <img class="imgn img-fluid onas" width="500" height="400"
            src="{{ url_for('static', filename='css/images/bbb.jpg') }}" alt="">
        </div>
        <title>Placeholder</title>
        <rect fill="#eee" width="100%" height="100%" />
      </div>
    </div>
  </div>

  
</section>
{% if gallery %}
<section id="section-gallery" class="section-common ">
  <div class="section-common__title container ">
    <h2>Фотогалерея</h2>
  </div>
  <div class="section-common__content container ">
    <div class="row">

      {% for gal in gallery %}
      {% if gal.show %}
      {% set image_base_path = 'images/gallery/' %}
      {% set image_path = image_base_path ~ gal.image %}
      {% set image_thumb_path = image_base_path ~ 'thumbnails/thumb_' ~ gal.image %}
      <div class="gallery-img col-12 col-sm-6 col-md-4 col-xl-3 mb-4 wow fadeInDown" data-wow-delay="0.5s">
        <a href="{{ url_for('static', filename=image_path) }}" data-fancybox="gallery" {% if gal.title %}
          data-caption="{{ gal.title }}" {% endif %}>
          <img class="img-thumbnail" src="{{ url_for('static', filename=image_thumb_path) }}"
            alt="{% if gal.title %}{{ gal.title }}{% endif %}">
        </a>
      </div>
      {% endif %}
      {% endfor %}
      <div class="container inst text-center">
        <h4>смотреть больше фото</h4>
        <a class="" href="https://www.instagram.com/beauty_room_kamyshin/" target="_blank"> <i
            class="fab fa-instagram"></i>
        </a>
      </div>
     
      

    </div>

  </div>
  </div>

</section>
{% endif %}

<section id="section-services" class="section-common">
  <div class="section-common__tit container ">
    <h2 class="ivi">Услуги</h2>
  </div>
  <div class="section-common__content container ">

    <div class="row ">
      {% for service in services %}
      {% if service.show %}
      <div class="col-md-4 ">

        <div class="card  mb-4 shadow-sm text-center wow zoomIn" data-wow-delay="0.1s">

          {% if service.image %}
          <img class="img-thumbnail gap  " src="{{ url_for('static', filename=service.image) }}" alt="">
          {% else %}
          <img src="https://via.placeholder.com/256x170" class="card-img-top" alt="">
          {% endif %}
          <div class="card-body featurette-heading text-center">
            <h5 class="card-title text-uppercase font-weight-bold">{{ service.title }}</h5>
            <p class="card-text">{{ service.descr }}</p>

          </div>
        </div>
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </div>

</section>




<section id="section-prices" class="section-common ">
  <div class="container">
    <div class="row featurette">
      <div class="col-md-6 order-md-2">
        <h2 class="featurette-heading text-center">Прайс</h2>
        <div class="container_prices wow zoomIn ">
          <ul>
            <li>
              <input type="checkbox" checked>
              <i></i>
              <h2>Маникюр</h2>
              <p class="fontr text-center" >
                Ремонт ногтя <br>
                50р<br>
                Дизайн(геометрия,вензеля,рисунок) <br>
                25р<br>
                Френч <br>
                100р<br>
                Лунки/втирка на все ногти <br>
                150р<br>
                Стразы <br>
                25р.<br>
                Наращивание ногтей <br>
                1200р.<br>
                Корекция/укрепление твердым гелем <br>
                800р.<br>
                Корекция/укрепление гель-лаком <br>
                700р.</p><br>
            </li>
            <li>
              <input type="checkbox" checked>
              <i></i>
              <h2>Парикмахерские услуги</h2>
              <p class="fontr text-center">Выпрямление и питание волос (Кератин) <br>
                2200р.<br>
                Стрижка модельная <br>
                300р<br>
                Стрижка креативная<br>
                400р<br>
                Стрижка на волосы средней длины <br>
                350р.><br>
                Стрижка на волосы средней длины<br>
                450р.<br>

                Стрижка модельная <br>
                300р.<br>
                Стрижка двумя насадками<br>
                250р.<br>
                Стрижка одной насадкой <br>
                200р.<br>
                Стрижка "наголо"<br>
                100р.<br></p>
            </li>
            <li>
              <input type="checkbox" checked>
              <i></i>
              <h2>Эстетическая косметология</h2>
              <p class="fontr text-center">
                Чистка лица<br>
                1300р.<br>
                Мультивитаминный уход <br>
                800р.<br>
                Детокс кожи лица <br>
                1000р.<br>
                Альгинатная маска <br>
                1000р.<br>
              </p>
            </li>
            <li>
              <input type="checkbox" checked>
              <i></i>
              <h2>Макияж</h2>
              <p class="fontr text-center">
                Макияж дневной <br>
                1300р.<br>
                Макияж вечерний <br>
                1500р.<br>
                Макияж свадебный/выпускной<br>
                1700р.<br>
                Макияж пробный <br>
                1200р.<br>
              </p>
            </li>
            <li>
              <input type="checkbox" checked>
              <i></i>
              <h2>Депиляция</h2>
              <p class="fontr text-center">
                Подмышечные впадины <br>
                300р.<br>
                Класическое бикини <br>
                450р.<br>
                Глубокое бикини <br>
                700р.<br>
                Депиляция ног <br>
                590р.<br>
                Депиляция лица <br>
                100р.<br>
                Депиляция рук <br>
                350р.<br>
                Парафинотерапия руг/ног <br>
                250р.<br>
              </p>
            </li>
          </ul>

        </div>
      </div>
      <div class="col-md-6 ">
        <div class="img   ">
          <img class="img-fluid yslugi" width="500" height="400"
            src="{{ url_for('static', filename='css/images/pr.jpg') }}" alt="">
        </div>
        <title>Placeholder</title>
        <rect fill="#eee" width="100%" height="100%" />

      </div>
    </div>
    </div>
</section>
<button
type="button"
class="btn  mr-3"
data-toggle="modal"
data-target="#exampleModal"
>
Записаться
</button>

<section class="kal">
  <div type="button" class="callback-bt">
    <a href="tel:{{ site_phone }}">
    <div class="text-call">
        <i class="fa fa-phone"></i>
        <span>Записаться</span>
    </div>
  </a>
</div>
</section>
<section id="section-contacts" class="section-common">
 
  <div class="section-common__title container">
    <h2>Контакты</h2>
  </div>
  <div class="section-common__content container">
    <div class="row">
      <div class="col-12 col-md-4 mb-4 text-center text-md-left">
        <div class="mb-3">
          <div class="font-weight-bold">Телефон</div>
          <div>
            <a href="tel:{{ site_phone }}" title="Позвонить">{{ site_phone_formated }}</a>
          </div>
        </div>
        <div class="mb-3">
          <div class="font-weight-bold">Email</div>
          <div>
            <a href="mailto:{{ site_email }}">{{ site_email }}</a>
          </div>
        </div>
        <div class="mb-3">
          <div class="font-weight-bold">Мы в соцсетях

          </div>
          <div class="soc">
            <div class="in">
              <a href="https://www.instagram.com/beauty_room_kamyshin/" target="_blank">
                <i class="fab fa-instagram social "></i>
              </a>
            </div>
            <div class="wats">

              <a href="https://wa.me/79370969944/" target="_blank"><i class="fab fa-whatsapp"></i></a>


            </div>
          </div>

        </div>
        <div class="mb-3">
          <div class="font-weight-bold">Адрес</div>
          <address>{{ site_address }}</address>
        </div>
        <div>
          <div class="font-weight-bold">График работы:</div>
          {{ site_schedule|safe }}
        </div>
      </div>
      <div class="col-12 col-md-8 map">
        {{ site_map|safe }}
      </div>
    </div>
  </div>
</section>
{% endblock %}