html {
  scroll-behavior: smooth;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

/* scrollSpy */
body {
  position: relative;
}
/* END scrollSpy */

#header {
  background-color: #eee;
}

#header__content {
  background-color: #2c222d;
  background-image: url("../images/beauty-bg.jpg");
  background-repeat: no-repeat;
  background-position: 100% 0;
  background-size: contain;
  background-attachment: fixed;

  color: white;
  height: 70vh;

  display: flex;
  align-items: center;
}

@media (max-width: 1250px) {
  #header__content {
    background-size: cover;
  }
}

#header__content h1 {
  font-size: 4rem;
  line-height: 1.1;
  margin-bottom: 40px;
  text-shadow: 0 3px 3px black;
}

#header__content #motto {
  font-size: 1.4rem;
  color: #eee;
  text-shadow: 0 1px 0 black;
}

@media (min-width: 1250px) {
  #header__content #motto {
    width: 60%;
    margin: 0 auto;
  }
}

/* Main navigation */
#main-nav {
}

#main-nav #contacts a {
  color: #444;
}

@media (max-width: 992px) {
  .nav-link {
    padding: 0.5rem 1rem !important;
  }
}

#main-nav .navbar-nav .active > .nav-link,
#main-nav .navbar-nav .nav-link.active,
#main-nav .navbar-nav .nav-link.show,
#main-nav .navbar-nav .show > .nav-link {
  color: white;
}

@media (min-width: 992px) {
  #main-nav .nav-pills .nav-link.active,
  #main-nav .nav-pills .show > .nav-link {
    background-color: #333;
    border-radius: 0;
  }
}
@media (max-width: 992px) {
  #main-nav .nav-pills .nav-link.active,
  #main-nav .nav-pills .show > .nav-link {
    background-color: #333;
  }
}

#main-nav #contacts a:hover {
  text-decoration: none;
}
/* END Main navigation */

#content {
}

#footer {
  background-color: #eee;
}

/* Sections */
.section-common {
  padding-top: 80px;
  padding-bottom: 60px;
}

.section-common__title {
  text-align: center;
}

.section-common__title h2 {
  font-size: 2.7em;
  margin-bottom: 30px;
}

.section-common__content {
}
/* END Sections */

#section-gallery .gallery-img img {
  transition: all ease-in-out 0.3s;
}

#section-gallery .gallery-img img:hover {
  opacity: 0.6;
}
