<nav id="main-nav" class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand mb-0 h1" href="/"> <img class=" img-fluid" src="{{ url_for('static', filename='css/images/lable.png') }}" alt=""></a>
    <span class="navbar-text d-none d-sm-inline-block d-lg-none d-xl-inline-block">{{ site_short_description }}</span>

    <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent">
        <span class=" navbar-toggler-icon "></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto ml-lg-5">
            <li class="nav-item ">
                <a class="nav-link " href="#section-about">О нас</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#section-services">Услуги</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#section-gallery">Фотогалерея</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#section-prices">Цены</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#section-team">Наши мастера</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#section-contacts">Контакты</a>
            </li>
        </ul>
        <div id="callback">
            <button type="button" class="btn btn-warning mr-3" data-toggle="modal" data-target="#callbackModal">Записаться</button>
        </div>
        <div id="contacts" class="my-2">
            <i class="fas fa-phone-alt"></i> <a href="tel:{{ site_phone }}" title="Позвонить">{{ site_phone_formated }} </i></a>
        </div>
    </div>
</nav>
